.box1{
    /* background-image:linear-gradient(to top,rgb(18, 18, 18),black); */
    background-color: black;
}
.box2{
    background-color: black;
    color: aliceblue;
    align-items: center;
    /* margin:10vmax; */
    padding-left:2vmax;
}
.box4{
    margin: auto;
    margin-top:100px;
    margin-bottom:60px;
}
.box2 p{
    font-family: 'Times New Roman', serif;
    font-size:2vmax;
     padding: 10px;
 margin: auto;
}
.box2 h1{
    font-weight: bolder;
    font-size:4vmax ;
    margin-top:30px;
    margin: auto;
   

}
.tvfield{
    margin-top:30px;
    margin-bottom: 20px;
    /* padding: 20px; */
    box-shadow:1px 4px 1px 0.4px rgb(56, 56, 56,0.2); 

}

.box3{
    margin-top:30px;
    margin-bottom: 20px;
    padding: 20px;
}
.query{
   align-items: center;
 
   background-color: black;
   justify-content: center;
   text-align: center;
}
.query h1{
    font-weight: bold;
    font-size:4vmax ;
    margin-top:70px ;
    margin-bottom: 30px;
}
.accordion-button {
    background-color: rgb(41, 39, 39);
    color: rgb(190, 196, 196);
    width: 800px;
    height: 60px;
}

.accordion-item{
    border: none;
  

}
.links  a{
    color: rgb(154, 156, 157);
    margin-bottom:20px;
    font-size:medium;
    margin-top: 20px;
}
.links{
    background-color: black;
}
@media screen and (max-width:600px) {

    .query h1{
        font-size:4vmax ;
    }
    .query p{
        font-size:1.5rem;
        justify-content: center;
        justify-items: flex-start;
    }
    .tvfield video{
      width: 380px;
      align-items: center;
    }
}
@media screen and (max-width:400px ){
    .tvfield video{
        width: 260px;
        align-items: center;
      }
}